.selling-product .img-content{
    position: relative;
    padding-bottom: 32px;
}

.img-content .img-content-product {
        width: 100%;
}

.selling-product .img-btn{
    right: 15px;
    bottom: 110px;
    
}

